:root {
    --headings-color:rgb(214, 92, 76);
    --light-background: rgb(243, 243, 243);
    --left-side-background: rgb(40, 49, 64);
    --container-background: rgb(238, 237, 237);
    --color-white: white;

}
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
}

*, *::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: left;
    color: var(--color-white);
    background: linear-gradient(-80deg, var(--left-side-background) 60%, var(--headings-color) 40%);
    position: relative;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.langWrap {
    display: inline-block;  
    position: fixed;  
    top: 4rem;
    left: 80%;
}

.langWrap a{
    color: white;
    background: var(--headings-color);
    padding: 0.5rem 1rem;
    
}

#exportPDF {
    display: block;
    width: 10rem;
    padding: 1rem;
    position: relative;
    left: 49%;
}

.html2pdfbutton {
    position: sticky;
    top: 1%;
}

/* grid name assignments */
.name-designation {
    grid-area: name;
}

.about {
    grid-area: about;
}

.myImage {
    grid-area: myimage;
}
.education {
    grid-area: education;
}

.languages {
    grid-area: languages;
}

.qualities {
    grid-area: qualities;
}

.hard-skills {
    grid-area: hardskills;
}

.ref {
    grid-area: ref;
}

/* global settings */

.headings {
    color: var(--headings-color);
    display: block;
    text-transform: uppercase;
    margin: 1rem 0;
}

.name-designation {
    font-size: 2.5rem;
    text-align: center;
}

.designation {
    font-size: medium;
}

.fa-brands, .fa-envelope {
    font-size: 1.7rem;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--color-white);
}

.fa-brands:hover, .fa-envelope:hover {
    color: var(--headings-color);
}

img {
    max-width: 100%;
    display: block;
    text-align: center;
    border-radius: .5rem;
}

.language-skills, .skill-name, .soft-skills {
    text-transform: uppercase;
}

.whoami, .education-1, .language-1, .soft-skill, .professional-skill {
    margin-top: 1rem;
}

.reference1 {
    text-transform: capitalize;
}

.ref-desig {
    font-weight: lighter;
    font-style: italic;
}

.time {
    color: var(--headings-color);
}

.time, .where-education {
    font-style: italic;
    font-weight: lighter;
}

/* skill lines */
.skill-lines {
    height: 1.5rem;
    background: var(--color-white);
    border-radius: .5rem;
}

.skill-lines.one {
    width: 60%;
}

.skill-lines.two {
    width: 70%;
}

.skill-lines.three {
    width: 45%;
}

.skill-lines.four {
    width: 20%;
}

.skill-lines.five {
    width: 10%;
}

.skill-lines.six {
    width: 10%;
}

h4 {
    color: black;
}

.experience {
    margin-bottom: 5rem;    
}

.company-name {
    font-style: italic;
    color: var(--left-side-background)
}

.tasks {
    color: var(--left-side-background);
    font-weight: lighter;
    text-transform: capitalize;
}

.tasks li {
    margin-top: .3rem;
}

.time-experience {
    color: var(--headings-color);
}


.container {
    width: min(90%, 100rem);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 3rem;
    background: var(--headings-color);
    
}

.left-side {
    display: grid;
    background: var(--left-side-background);
    grid-template-areas: 
    "name"
    "myimage"
    "about"
    "education"
    "languages"
    "qualities"
    "hardskills"
    "ref";
    padding: 3rem;
}

.right-side {
    background: var(--light-background);
    padding: 3rem;
}

.experience-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-bottom: 3rem;
}

.language-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    text-align: center;
}

.soft-skills, .professional-skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    text-align: left;
}

.soft-skill, .language-1 {
    background: var(--headings-color);
    padding: .2rem;
}

.references {
    margin-bottom: 1rem;
    
}

.reference1 {
    margin-top: 1rem;
}

.education-1:last-child, .professional-skill:last-child, .whoami:last-child {
    margin-bottom: 0;
}

@media(max-width:60em){

    html {
        background: linear-gradient(0deg, var(--left-side-background) 60%, var(--headings-color) 40%);
    }
    .container {
        grid-template-columns: 1fr;
    }

    .left-side {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        grid-template-areas: 
    "name name"
    "myimage about"
    "education hardskills"
    "languages qualities"
    "ref ref";
    }

    .soft-skills {
        grid-template-columns: 1fr 1fr;
    }

    .language-skills {
        grid-template-columns: 1fr;
    }

    .references {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
    }

    .langWrap {
        left: 10%;
    }

    .langWrap a{
        background: var(--left-side-background);
    }

}

@media(max-width:40em){
    .container {
        grid-template-columns: 1fr;
    }

    .left-side {
        grid-template-columns: 1fr;
        gap: 2rem;
        grid-template-areas: 
    "name"
    "myimage"
    "about"
    "education"
    "hardskills"
    "languages"
    "qualities"
    "ref";
    }


    .references {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .experience-1, .soft-skills {
        grid-template-columns: 1fr;
    }

    .language-skills, .soft-skills, .professional-skill {
        text-align: left;
    }

    #exportPDF {
        left: 40%;
    }

}

@media print {
    html {
      zoom: 30%;
    }
  }