:root {
    --headings-color:rgb(214, 92, 76);
    --light-background: rgb(243, 243, 243);
    --left-side-background: rgb(40, 49, 64);
    --container-background: rgb(238, 237, 237);
    --color-white: white;

}

*, *::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: justify;
    background: linear-gradient(-80deg, var(--left-side-background) 70%, var(--headings-color) 60%);
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.container {
    /* max-width: 80%; */
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 5rem;
    background: var(--container-background);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .3);
}

.right-side {
    /* grid-area: rightside; */
    padding: 3.5rem;
}

.experience {
    margin-bottom: 5rem;
    
}


/* all of left side */
.left-side {
    background: var(--left-side-background);
    color: var(--color-white); 
    padding: 3rem;
    /* grid-area: leftside; */
    display: grid;
    border-radius: 0 .5rem .5rem 0;
}

.whoami {
    margin-bottom: 1rem;
}

.headings {
    color: var(--headings-color);
    display: block;
    text-transform: uppercase;
    margin: 1rem 0;
}

.name-designation {
    font-size: 2.5rem;
    text-align: center;
}

.designation {
    font-size: medium;
}

.contacts {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 3rem;
}

.fa-brands, .fa-envelope {
    color: var(--color-white);
    font-size: 1.7rem;
    padding: 1rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
}

.fa-brands:hover, .fa-envelope:hover {
    color: var(--headings-color);
    /* font-size: 2rem; */
}

.me {
    width: 25rem;
    border-radius: .5rem;
}

.myImage {
    text-align: center;
    margin: 1rem;
}

.education-1 {
    margin-bottom: 1rem;
    text-align: left;
}

.time, .where-education {
    font-style: italic;
    font-weight: lighter;
}

.time {
    color: var(--headings-color);
}

.language {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
}

.soft-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.soft-skill {
    text-transform: uppercase;
}

.professional-skill {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    margin-bottom: 1rem;
}


/* skill lines */
.skill-lines {
    height: 1.5rem;
    background: var(--color-white);
    border-radius: .5rem;
}

.skill-lines.one {
    width: 60%;
}

.skill-lines.two {
    width: 70%;
}

.skill-lines.three {
    width: 45%;
}

.skill-lines.four {
    width: 20%;
}

.skill-lines.five {
    width: 10%;
}

.skill-lines.six {
    width: 10%;
}

.skill-name {
    text-transform: uppercase;
}

/* References */

.references {
    margin-bottom: 1rem;
}
.reference1 {
    text-transform: capitalize;
}

.ref-desig {
    font-weight: lighter;
    font-style: italic;
}

.education-1:last-child, .professional-skill:last-child, .whoami:last-child {
    margin-bottom: 0;
}



.time-experience {
    color: var(--headings-color);
}

.experience-1{
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 5rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.company-name {
    font-style: italic;
    color: var(--left-side-background)
}

.tasks {
    color: var(--left-side-background);
    font-weight: lighter;
}

@media(max-width: 900px){
    html {
        background: var(--light-background);
    }

    .container {
        grid-template-columns: 1fr;
    }

    .experience-1 {
        grid-template-columns: 1fr;   
        gap: 1rem;
    }

}